.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
  }
  
  .footer_sns {
    display: flex;
  }
  
  .footer_sns_item {
    margin: 0 1rem;
  }
  
  .copyright {
    margin: 1rem 0;
  }
  