.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
    margin-top: 2rem;
}

.sns_items {
    display: flex;
}

.sns_item {
    margin: 0 1rem;
}

.copyright {
    margin: 1rem 0;
}

@media screen and (min-width: 481px) {
    .footer {
        padding-bottom: 1rem;
        margin-bottom: 91.08px;
    }
}
