@charset "utf-8";
@import "../styles/config.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 70px;
}

.sns_items {
    display: flex;
}

.sns_item {
    margin: 0 1rem;
}

.sns_item_icon {
    color: $gray_7;
}

.copyright {
    margin-top: 1rem;
}

@media screen and (min-width: 481px) {
    .footer {
        padding-bottom: 2rem;
        margin-bottom: 70px;
    }
}
