@charset 'utf-8';
@import '../styles/config.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title {
    font-family: "Baloo Tamma 2", cursive;
    display: inline-block;
}

.header_title_link {
    &:link,
    &:visited,
    &:active {
        text-decoration: none;
        color: $gray_7;
    }
}

.header_img {
    width: 100%;
    height: 100%;
    background: url(/header_img.png) center top no-repeat;
    display: flex;
    background-size: cover;
    display: flex;
    align-items: center;
}

.keyvisual {
    font-family: "Sawarabi Mincho", sans-serif;
    display: inline-block;
    color: $gray_e;
    letter-spacing: 1rem;
    padding: 4rem 0;
    margin: 0 auto;
}
