@charset 'utf-8';
@import '../styles/config.scss';

.body {
    width: 100%;
    margin: 0 auto;
    background-color: $gray_e;
}

.main {
    margin-top: 2rem;
}

@media screen and (min-width: 481px) {
    .body {
        width: 480px;
    }
}