@charset 'utf-8';

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
}

.nav_items {
    display: flex;
}

.nav_item {
    flex: 1;
    text-align: center;
    border-right: solid 2px #eee;
    display: inline-block;
    &:last-child {
        border-right: 0;
    }
}

.nav_item_link {
    padding: 1rem 0;
    display: inline-block;
    width: 100%;
}

.nav_item_icon {
    color: #777;
}

.nav_item_name {
    font-size: 1rem;
    color: #777;
}

@media screen and (min-width: 481px) {
    .nav {
        max-width: 480px;
    }
}