// 外部API
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Sawarabi+Mincho&display=swap');

// color
$white: #fff;
$gray_e: #eee;
$gray_c: #ccc;
$gray_7: #777;

// size
$p_font: 1rem;
$phone_width: 480px;